* {
  box-sizing: border-box;
/*   border: 1px solid red; */

}




@font-face {
  font-family: 'customFont1'; /* Choose a name for your font */
  src: url('./assets/Shojumaru-Regular.ttf') format('truetype'); /* Provide the correct file path */

}

body {
  margin: 0px;
  padding: 0px;
  font-family: system-ui, sans-serif;
  
}

.homeSection {
  margin: 0px;
  padding: 0px;  
  height: 100%;
  position: relative;
  
  z-index: 0;
}



.outerSection {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'navSection'
  'logoSection'
  'logoSection2'
  'inputSection'

  ;


}

.animationSection {
  
  position: absolute;
  bottom: 0px;
  justify-self: end;
  align-self: end;
  z-index: -1;
}

.gokuGif {
  width: 800px;

}

.navSection {
  display: flex;
  flex-direction: row;
  grid-area: navSection;
}

.topColumn1 {
  display: flex;
  flex-direction: row;
  align-items: start;

  width: 50%;

}


.topColumn2 {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;

}


.musicBlock {
  display: flex;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 55px;
  justify-content: center;
  border: 3px solid black;
  background-color: yellow;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;

}

.musicIcon {
  margin: 5px;

}

.musicBlock:hover {


  animation: 0.5s change-color2 1 normal forwards; 
  
}

@keyframes change-color2 {
  from {
    background-color: yellow;
  }

  to {

    width: 65px;
    height: 60px;    
    background-color: yellow;

  }
}

.musicBlock:before {
  content: '';
/*   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, yellow, rgb(179, 179, 0), yellow,  rgb(179, 179, 0), yellow,  rgb(179, 179, 0));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing2 20s linear infinite;


  opacity: 0;
  transition: opacity .2s ease-in-out;
  border-radius: 15px;
  
}

.musicBlock:active {
  color: #000;
  
}

.musicBlock:active:after {
  background: transparent;
  
}

.musicBlock:hover:before {
  opacity: 1;
}

.musicBlock:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 20px;
  
  
}

@keyframes glowing2 {
  0% { 
      background-position: 0 0;

  }
  50% {
      background-position: 400% 0;

     }
  100% {
       background-position: 0 0;

     }
}



.portfolioBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  height: 70px;
  gap: 10px;
  margin-right: 10px;

}

.portfolioText {
  
  font-size: 22px;
  cursor: default;
  content: '@rsterenchak';

}

.portfolioIcon {
  
  cursor: pointer;
}

.gitIcon {
  width: 45px;
}

.logoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  object-fit: contain;
  grid-area: logoSection;
}

.logoContainer {

  min-height: 400px;
  min-width: 90vw;
  margin-left: 32px;
  background-image: url('./assets/dragon-ball-image.png') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.logoSection2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  object-fit: contain;
  grid-area: logoSection2;
}

.logoContainer2 {
  min-height: 350px;
  min-width: 55vw;
  margin-left: 100px;
  position: absolute;

  margin-top: -45px;
  background-image: url('./assets/MatchingGameTitle.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.inputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: inputSection;
}


.fightButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 195px;
  border-radius: 20px;
  background-color: yellow;
  cursor: pointer;
  border: 1.5px solid black;
  position: relative;
  font-family: 'customFont1';
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  font-size: 19px;

}

.fightButton:hover, .svg-text:hover {


  animation: 0.5s change-color 1 normal forwards; 
  
}

@keyframes change-color {
  from {
    background-color: yellow;
  }

  to {
    height: 65px;
    width: 205px;
    font-size: 21px;
    background-color: yellow;

  }
}



.fightButton:before {
  content: '';
/*   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, yellow, rgb(179, 179, 0), yellow,  rgb(179, 179, 0), yellow,  rgb(179, 179, 0));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 8px);
  height: calc(100% + 8px);
  animation: glowing 20s linear infinite;


  opacity: 0;
  transition: opacity .2s ease-in-out;
  border-radius: 15px;
  
}

.fightButton:active {
  color: #000;
  
}

.fightButton:active:after {
  background: transparent;
  
}

.fightButton:hover:before {
  opacity: 1;
}

.fightButton:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 20px;
  
  
}

@keyframes glowing {
  0% { 
      background-position: 0 0;

  }
  50% {
      background-position: 400% 0;

     }
  100% {
       background-position: 0 0;

     }
}




.svg-element {
  
}

.svg-text {

  fill: rgb(240, 240, 0);
  stroke: black;
  stroke-width: 0.5px;


}

.svg-text:hover {
  

}



/** Web HomePage Warping */
@media (max-width: 1100px){

  .logoContainer2 {

    margin-left: 55px;

  }


}

/** Web HomePage Warping */
@media (max-height: 1100px){

  .logoContainer2 {

    margin-left: 75px;


  }
  
}

/** Mobile HomePage Warping */
@media screen and (max-width: 1224px) {

  .outerSection {
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navSection'
    'logoSection'
    'logoSection2'
    'inputSection';
  
  
  }

  .logoContainer {
    min-height: 230px;
    min-width: 80vw;
    margin-left: 16px;
    background-image: url('./assets/dragon-ball-image.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
  }

  .logoContainer2 {
    min-height: 240px;
    min-width: 50vw;
    position: absolute;
    z-index: 0;
    margin-top: -45px;
    background-image: url('./assets/MatchingGameTitle.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }  


  .fightButton {

    cursor: pointer;

  }



}

@media screen and (max-height: 1224px) {

  body {

    background-size: 2000px; 

  }

  .outerSection {
    display: grid;
    grid-template-rows: 1fr 4fr 5fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navSection'
    'logoSection'
    'logoSection2'
    'inputSection';
    
  }

  .logoContainer {

    min-height: 230px;
    min-width: 90vw;

    margin-left: 16px;
    background-image: url('./assets/dragon-ball-image.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
  }

  .logoContainer2 {
    min-height: 240px;
    min-width: 55vw;
    position: absolute;
    z-index: 0;

    background-image: url('./assets/MatchingGameTitle.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }  

  .inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*   
    height: 70vh */
  }

  .fightButton {

    cursor: pointer;

  }


}

@media screen and (max-width: 650px) {

  .outerSection {
    display: grid;
    grid-template-rows: 1fr 4fr 6fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navSection'
    'logoSection'
    'logoSection2'
    'inputSection';
  
  
  }

  .logoContainer {
    min-height: 230px;
    min-width: 80vw;
    margin-left: 16px;
    background-image: url('./assets/dragon-ball-image.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
  }

  .logoContainer2 {
    min-height: 200px;
    min-width: 50vw;
    position: absolute;
    z-index: 0;
    margin-top: -85px;
    background-image: url('./assets/MatchingGameTitle.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }  


  .fightButton {

    cursor: pointer;

  }



}

@media screen and (max-height: 900px) {

  body {

    background-size: 2000px; 

  }

  .outerSection {
    display: grid;
    grid-template-rows: 1fr 3fr 4fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'navSection'
    'logoSection'
    'logoSection2'
    'inputSection';
    
  }

  .logoContainer {

    min-height: 230px;
    min-width: 90vw;

    margin-left: 16px;
    background-image: url('./assets/dragon-ball-image.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
  }

  .logoContainer2 {
    min-height: 240px;
    min-width: 55vw;
    position: absolute;
    z-index: 0;
    margin-top: -55px;
    background-image: url('./assets/MatchingGameTitle.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }  

  .inputSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
/*   
    height: 70vh */
  }

  .fightButton {

    cursor: pointer;

  }


}


/** PlayPage Stylings Section */


.playSection {
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid rgba(255, 0, 0, 0);
  z-index: 0;
}


.outerSection2 {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1.5fr;
  height: 100%;
  margin: 1rem;


}


.navSection2 {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}


.topColumn3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 30fr;
  grid-template-areas: 
  'musicBlock2 . musicBlock3 .';
  width: 50%;
  border: 1px solid blue;
}


.musicBlock2 {
  display: flex;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 55px;
  justify-content: center;
  border: 3px solid black;
  background-color: yellow;
  cursor: pointer;
  grid-area: musicBlock2;
}

.musicIcon2 {
  margin: 5px;

}

.musicBlock2:hover {


  animation: 0.5s change-color3 1 normal forwards; 
  
}

@keyframes change-color3 {
  from {
    background-color: yellow;
  }

  to {

    width: 65px;
    height: 60px;    
    background-color: yellow;

  }
}

.musicBlock2:before {
  content: '';
/*   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, yellow, rgb(179, 179, 0), yellow,  rgb(179, 179, 0), yellow,  rgb(179, 179, 0));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing3 20s linear infinite;


  opacity: 0;
  transition: opacity .2s ease-in-out;
  border-radius: 15px;
  
}

.musicBlock2:active {
  color: #000;
  
}

.musicBlock2:active:after {
  background: transparent;
  
}

.musicBlock2:hover:before {
  opacity: 1;
}

.musicBlock2:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 20px;
  
  
}

@keyframes glowing3 {
  0% { 
      background-position: 0 0;

  }
  50% {
      background-position: 400% 0;

     }
  100% {
       background-position: 0 0;

     }
}



.musicBlock3 {
  display: flex;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 55px;
  justify-content: center;
  border: 3px solid black;
  background-color: yellow;
  cursor: pointer;
  grid-area: musicBlock3;
}

.musicIcon3 {
  margin: 5px;

}

.musicBlock3:hover {


  animation: 0.5s change-color4 1 normal forwards; 
  
}

@keyframes change-color4 {
  from {
    background-color: yellow;
  }

  to {

    width: 65px;
    height: 60px;    
    background-color: yellow;

  }
}

.musicBlock3:before {
  content: '';
/*   background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, yellow, rgb(179, 179, 0), yellow,  rgb(179, 179, 0), yellow,  rgb(179, 179, 0));
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing4 20s linear infinite;


  opacity: 0;
  transition: opacity .2s ease-in-out;
  border-radius: 15px;
  
}

.musicBlock3:active {
  color: #000;
  
}

.musicBlock3:active:after {
  background: transparent;
  
}

.musicBlock3:hover:before {
  opacity: 1;
}

.musicBlock3:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 20px;
  
  
}

@keyframes glowing4 {
  0% { 
      background-position: 0 0;

  }
  50% {
      background-position: 400% 0;

     }
  100% {
       background-position: 0 0;

     }
}




.topColumn4 {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;

}

.portfolioBlock2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  height: 70px;
  gap: 10px;

}

.portfolioText2 {
  
  font-size: 22px;
  cursor: default;
  content: '@rsterenchak';

}

.portfolioIcon2 {
  
  cursor: pointer;
}

.gitIcon {
  width: 45px;
}

.logoSection3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  object-fit: contain;
}



.logoSection4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  object-fit: contain;
}


.inputSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}



/** Mobile HomePage Warping */

/* @media screen and (max-width: 1060px) {

  .outerSection {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 8fr;
    height: 100%;
    margin: 1rem;
  
  
  }

  .logoContainer {

    min-height: 200px;
    min-width: 90vw;

    margin-left: 16px;
    background-image: url('./assets/dragon-ball-image.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  
  }

  .logoContainer2 {
    min-height: 220px;
    min-width: 55vw;
    position: absolute;
    z-index: 0;
    margin-top: -45px;
    background-image: url('./assets/MatchingGameTitle.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }  


  .fightButton {

    cursor: pointer;

  }



}

@media screen and (max-height: 1100px) {

  body {
    background-size: 2000px;

  }

  .outerSection2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 8fr;
    height: 100%;
    margin: 1rem;
  
  
  }



  .inputSection2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  

  }


}
 */
