* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;

  background-image: url('./assets/kame-house.jpg') ;
  background-position: center;
  background-size: cover;
  
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.homePageBackground {
  height: 100vh;
  margin: 0;
  padding: 0;

}

.outerSection {
  display: grid;
  grid-template-rows: 1fr 2.5fr 1.5fr 1.5fr;
  height: 100%;
  margin: 1rem;


}



.navSection {
  display: flex;
  flex-direction: row;
  
}

.topColumn1 {
  width: 50%;

}


.topColumn2 {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;

}

.musicBlock {
  display: flex;
  border-radius: 50%;

  max-width: 60px;
  max-height: 55px;
  justify-content: center;
  border: 3px solid black;
  background-color: rgb(232, 232, 0);
  cursor: pointer;
}

.musicIcon {
  margin: 5px;

}

.portfolioBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 300px;
  height: 70px;
  gap: 10px;

}

.portfolioText {
  
  font-size: 24px;
  cursor: default;
}

.portfolioIcon {
  
  content: '@rsterenchak';
  cursor: pointer;
}

.gitIcon {
  width: 45px;
}

.logoSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid red;
  object-fit: contain;
}

.logoContainer {

  min-height: 30vh;
  min-width: 90vw;

  border: 1px solid blue;

  background-image: url('./assets/dragon-ball-image.png') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.logoSection2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
  object-fit: contain;
}

.logoContainer2 {
  min-height: 25vh;
  min-width: 55vw;
  margin-left: 90px;
  
  background-image: url('./assets/MatchingGameTitle.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.inputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.fightButton {
  min-height: 55px;
  min-width: 220px;
  border-radius: 45px;
  background-color: rgb(232, 232, 0);
  cursor: pointer;

  font-size: 50px;
}


@media (max-width: 1160px){

  .logoContainer2 {

    margin-left: 55px;

  }
  
  .fightButton {
    min-height: 45px;
    min-width: 180px;
    max-height: 45px;
    max-width: 180px;    

  }  



}

@media (max-height: 1100px){

  .logoContainer2 {

    margin-left: 55px;


  }

  .fightButton {
    min-height: 45px;
    min-width: 180px;
    max-height: 45px;
    max-width: 180px;

  }  
  



}