* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;

  background-image: url('./assets/kame-house.jpg') ;
  background-position: center;
  background-size: cover;
  
}

h1 {
  font-weight: 800;
  font-size: 1.5rem;
}

.homePageBackground {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: red;
}

.outerSection {
  display: grid;
  grid-template-rows: 1fr 2.5fr 2fr 1.5fr;
  height: 100%;
  margin: 1rem;
  border: 1px solid red;

}



.navSection {
  display: flex;
  flex-direction: row;
  
  border: 1px solid red;
}

.topColumn1 {
  width: 50%;
  border: 1px solid green;
}


.topColumn2 {
  display: flex;
  flex-direction: row-reverse;
  width: 50%;
  border: 1px solid green;
}

.musicBlock {
  width: 50px;
  height: 45px;

  border: 1px solid blue;
}

.portfolioBlock {
  width: 200px;
  height: 45px;

  border: 1px solid blue;
}

.logoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  object-fit: contain;
}

.logoContainer {

  min-height: 40vh;
  min-width: 90vw;

  border: 1px solid blue;

  background-image: url('./assets/dragon-ball-image.png') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.logoSection2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  object-fit: contain;
}

.logoContainer2 {
  min-height: 600px;
  min-width: 55vw;


  border: 1px solid blue;

  
  background-image: url('./assets/MatchingGameTitle.svg') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.inputSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.fightButton {
  min-height: 100px;
  min-width: 450px;
  border-radius: 45px;
  background-color: rgb(232, 232, 0);
  border: 1px solid blue;


  font-size: 50px;
}

